body{font-size:14px;font-family:'微软雅黑',"宋体","Arial Narrow",Helvetica,sans-serif;color:#191f25;line-height:1.2;text-align:left;}
.clearfix:after{visibility:hidden;display: block;font-size:0;content:" ";clear:both;height:0;}
a{color:rgba(25,31,37,0.72);text-decoration:none;}
.fl{float:left;}
.fr{float:right;}
h1,h2,h3,h4{padding:0;margin:0;font-weight: normal}
ul,li{list-style: none;}
.logo h1{
    width: 60%;
    min-height:120px;
    margin:10% 20%;
    text-align: center;
    font-size:60px;
    color:#048df5;
}
.logo{
    text-align: center;
}
.i_l {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
/*loginForm*/
.loginForm{
    width:80%;
    margin:15% 10%;
}
.loginForm span{
    position: absolute;
    top:0;
    left:10px;
    font-size:22px;
    color:#333
}
.loginForm li{
    position: relative;
    height:55px;
    line-height:55px;
    padding-left:40px;
    border-bottom:1px solid #e5e5e5;
}
.loginForm li input{
    background: none;
    border:none;
    outline: none;
    padding-left:10px;
    height:100%;
    width:90%;
    font-size:16px;
}
.submit{
    width: 80%;
    margin:10%;
}
.submit .weui-btn_primary{
    background:#048df5 ;
}
.colorBlue{
    color:#0668b3;
}
.item-input select{
    color:#6d6d72;
    font-size:14px;
}
.list-block{
    font-size:0.7rem;
    margin:0;
}
.content-block{
    margin:1rem 0;
}
.list-block .item-inner:after{
    height:2px;
}
/*lists*/
.weui-navbar__item.weui-bar__item_on{
    border-bottom:2px solid #0894ec;
    background: none;
}
.weui-navbar__item:after{
    border-right:none;
}
.weui-navbar{
    position: fixed;
    z-index: 20;
}
.lists{

}
.list-block .lists li{
    position: relative;
    padding: 15px 15px 15px 55px;
    border-bottom:1px solid #f7f7f7;
}
.list-block .lists li i{
    position: absolute;
    left: 12px;
    top: 16px;
}
.list-block .lists li i span{
    font-size:30px;
}
.list-block .lists li time{
    color:#999;
}
.listsInfo h4{
    /*color:#0668b3;*/
    font-size:14px;
    margin-bottom:10px;
    font-weight: 600;
}
.img img{
    width:100%;
}
.spFjLists dt{
    padding-left:0.75rem;
    margin:10px 0;
}
.item-content{
    background: #fff;
}
/*tab*/
/*.tabContent{
    padding-top:20px;
}*/
.buttons-row,.buttons-tab {
    -webkit-align-self: center;
    align-self: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap
}
.buttons-tab {
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.buttons-tab:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #d0d0d0;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
    .buttons-tab:after {
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5)
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:3) {
    .buttons-tab:after {
        -webkit-transform: scaleY(.33);
        transform: scaleY(.33)
    }
}

.buttons-tab .button {
    color: #5f646e;
    font-size: .8rem;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0
}

.button {
    border: 1px solid #0894ec;
    color: #0894ec;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: .25rem;
    line-height: 1.25rem;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: 0 0;
    padding: 0 .5rem;
    margin: 0;
    height: 1.35rem;
    white-space: nowrap;
    position: relative;
    text-overflow: ellipsis;
    font-size: .7rem;
    font-family: inherit;
    cursor: pointer
}
.buttons-tab .button.active {
    color: #0894ec;
    border-color: #0894ec;
    z-index: 100
}

.buttons-fixed {
    position: fixed;
    z-index: 99;
    width: 100%
}
.weui-textarea-counter span{
    color:#6d6d72;
    font-size:12px;
}
.weui-textarea-counter time,.weui-textarea-counter label{
    font-size:12px;

}
.fixBottom{
    position: fixed;
    width: 100%;
    background: #fff;
    height: 55px;
    bottom: 0;
    z-index: 99;
    border-top: 1px solid #e5e5e5;
}
/*dialogDefined*/
#dialogDefined .dialogBg{
    position:fixed;
    width:100%;
    height:100%;
    background: #000;
    opacity: 0.6;
    z-index: 30;
    top:0;
    left:0;
}
#dialogDefined .dialogInfo{
    width:80%;
    height:auto;
    position: fixed;
    top:50%;
    left:10%;
    background: #fff;
    border:1px solid #e5e5e5;
    border-radius:5px;
    padding-bottom:15px;
    z-index: 40;
}
#dialogDefined .dialogInfo h4{
    text-align: center;
    height:45px;
    line-height:45px;
    border-bottom:1px solid #e5e5e5;
}
#dialogDefined ul{
    padding-top:15px;
}
#dialogDefined ul li{
    width: 100%;
    padding:10px 0;
    text-align: center;
}
.dw li.active a{
    color:#0894ec;
}
/*font*/
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}