<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>报销申请</title>
    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/weui.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!--<script type="text/javascript" src="//g.alicdn.com/dingding/dingtalk-jsapi/2.6.0/dingtalk.open.js"></script>-->
    <script src="js/zepto.min.js"></script>
    <script src="js/zepto.cookie.min.js"></script>
    <script src="js/weui.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/lodash.min.js"></script>
    <style>
        /*.list-block ul ul{padding-left:0;}*/
        .item .selectDialog ul.row{padding-left:0}
        .item .selectDialog ul.selList{padding-left:20px;}
        .dialogInfo{
            top:20%;
        }
        #applybx{height:100%;overflow: auto;width:100%}
        .pageFirst{

        }
        .pageSecond{

        }
    </style>

</head>
<body>
<div id="applybx">
    <div class="pageFirst">
        <div class="list-block">
            <ul>
                <!-- Text inputs -->
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">报销类型</div>
                            <div class="item-input">
                                <select-dialog ref="bxlx" id="bxlx" title="报销类型" :config="bxlxConfig" v-model="formData.bxlx"></select-dialog>
                            </div>
                            <span class="icon icon-right"></span>
                        </div>
                    </div>
                </li>
                <li v-show="zj">
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">资金申请单</div>
                            <div class="item-input">
                                <sea-dialog id="zjApply" title="资金申请单" :config="zjApplyConfig" v-model="formData.zjApply"></sea-dialog>
                            </div>
                            <span class="icon icon-right"></span>
                        </div>
                    </div>
                </li>
                <li v-show="zx">
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">执行申请单</div>
                            <div class="item-input">
                                <select-dialog id="zxApply" title="执行申请单" :config="zxApplyConfig" v-model="formData.zxApply"></select-dialog>
                            </div>
                            <span class="icon icon-right"></span>
                        </div>
                    </div>
                </li>
                <li v-show="ht">
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">合同名称</div>
                            <div class="item-input">
                                <select-dialog id="htmc" title="合同名称" :config="htmcConfig" v-model="formData.htmc"></select-dialog>
                            </div>
                            <span class="icon icon-right"></span>
                        </div>
                    </div>
                </li>
                <li v-show="ht">
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">合同阶段</div>
                            <div class="item-input">
                                <select-dialog id="htjd" title="合同阶段" :config="htjdConfig" v-model="formData.htjd"></select-dialog>
                            </div>
                            <span class="icon icon-right"></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-gender"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">指标名称</div>
                            <div class="item-input">
                                <sea-dialog ref="zbmc" id="zbmc" title="指标名称" :config="zbmcConfig" v-model="formData.zbmc"></sea-dialog>
                            </div>
                            <span class="icon icon-right"></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-gender"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">可用余额</div>
                            <div class="item-input">{{kyye}}</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card"></div>
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-gender"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">报销部门</div>
                            <div class="item-input">
                                <select-dialog ref="bxbm" id="bxbm" title="报销部门" :config="bxbmConfig" v-model="formData.bxbm"></select-dialog>
                            </div>
                            <span class="icon icon-right"></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-gender"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">报销人</div>
                            <div class="item-input">
                                <input id="bxr" type="text" placeholder="" value="">
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Date -->
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">报销日期</div>
                            <div class="item-input">
                                <input id="bxDate" type="date"  data-toggle='date' value="['now.getFullYear() + '-' +((now.getMonth()+1)<10?'0':'')+(now.getMonth()+1)+'-'+(now.getDate()<10?'0':'')+now.getDate()']">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="align-top">
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-comment"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">报销是由</div>
                            <div class="item-input">
                                <textarea ref="bxsy"></textarea>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-gender"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">支出事项</div>
                            <div class="item-input">
                                <sea-dialog ref="zcsx" id="zcsx" title="支出事项" :config="zcsxConfig" v-model="formData.zcsx"></sea-dialog>
                            </div>
                            <span class="icon icon-right"></span>
                        </div>
                    </div>
                </li>
                <li class="align-top">
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-comment"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">备注</div>
                            <div class="item-input">
                                <textarea></textarea>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <weui-uploader id="ShenPiFJ" title="上传附件" :options="uploaderOptions" :files="formData.FileList"></weui-uploader>
        </div>
        <div class="content-block">
            <a href="javascript:void(0);" class="weui-btn weui-btn_primary">下一步</a>
        </div>
    </div>
    <div class="pageSecond">
        <zhichu-mingxi v-for="item in ZhiChuMX" :item="item"></zhichu-mingxi>
        <div class="weui-flex" style="padding: 7px">
            <div class="weui-flex__item" style="padding: 7px">
                <a class="weui-btn weui-btn_ding" @click="action('back')" href="javascript:">上一步</a>
            </div>
            <div class="weui-flex__item" style="padding: 7px">
                <a class="weui-btn weui-btn_ding" @click="action('next')" href="javascript:">下一步</a>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/x-template" id="select-dialog">
    <div class="item">
        <div class="item-select" @click="show();">{{currentDisVal}}</div>
        <div :id="id" class="selectDialog" style="display: none;">

            <div class="dialogInfo">
                <h3 class="selectTitle">{{title}}</h3>
                <div class="selectCon">
                    <ul class="selList">
                        <li v-bind:class="{active: item[config.key]===currentVal}" v-for="item in config.options" @click="click(item)">{{item[config.dis]}}</li>
                    </ul>
                </div>
                <div class="selectBottom">
                    <ul class="row">
                        <li class="col-50" @click="close()"><a href="javascript:void(0)">取消</a></li>
                        <li class="col-50" @click="apply()"><a href="javascript:void(0)">确定</a></li>
                    </ul>
                </div>
            </div>
            <div class="dialogBg"></div>
        </div>
    </div>
</script>
<script type="text/x-template" id="sea-dialog">
  <div class="item">
      <div class="item-select" @click="show();">{{currentDisVal}}</div>
      <div :id="id" class="seaDialog" style="display: none">
          <span class="icon icon-closed"></span>
          <div class="seaDialogInfo">
              <h3>{{title}}</h3>
              <div class="searchInput">
                  <input :placeholder="'请输入' + title + '名称'"/>
              </div>
              <ul class="seaLists">
                  <li v-for="item in config.options" class="row" @click="click(item)">
                      <div class="col-80">
                          <p v-for="field in config.fields">{{field.name}}：{{item[field.key]}}</p>
                      </div>
                      <div class="col-20 selectBtn">
                          <a class="" href="javascript:void(0)"><span class="icon icon-check"></span></a>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="dialogBg"></div>
      </div>
  </div>
</script>
<script type="text/x-template" id="zhichu-mingxi">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell" :class="{'weui-cell_vcode': item.FeiYongMX.length > 0}">
            <div class="weui-cell__hd">
                <label class="weui-label">{{item.MingCheng}}</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" placeholder="请输入金额" v-model="item.JinE">
            </div>
            <div class="weui-cell__ft" v-if="item.FeiYongMX.length > 0">
                <button class="weui-vcode-btn" @click="add(item.FeiYongMX)">添加</button>
            </div>
        </div>
        <div v-if="item.FeiYongMX.length > 0">
            <template v-for="(row,index) in item.FeiYongMX" :del="del">
                <div v-for="field in row" class="weui-cell feiyong-mx" :class="{'weui-cell_select weui-cell_select-after': field.Type==='4'}">
                    <div class="weui-cell__hd"><label class="weui-label">{{field.FeiYongMXMC}}</label></div>
                    <div class="weui-cell__bd">
                        <input v-if="field.Type==1" class="weui-input" type="number" v-model="field.FeiYongMXZ"/>
                        <input v-else-if="field.Type==2" class="weui-input" type="text" v-model="field.FeiYongMXZ"/>
                        <input v-else-if="field.Type==3" class="weui-input" type="date" v-model="field.FeiYongMXZ"/>
                        <select v-else-if="field.Type==4 || field.Type==5" class="weui-select" v-model="field.FeiYongMXZ">
                            <option v-for="opt in field.Options" :value="opt.Value">{{opt.Text}}</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell weui-cell_access" @click="del(item.FeiYongMX, index)" v-if="item.FeiYongMX.length > 1">
                    <div class="weui-cell__bd">删除</div>
                </div>
            </template>
        </div>
    </div>
</script>
<script src="js/vue.js"></script>
<script src="js/components/vue.weui.uploader.js"></script>
<script src="js/applyBX.js"></script>

</html>