<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>资产盘点详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/weui.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.0.0">
    <!--<script type="text/javascript" src="//g.alicdn.com/dingding/dingtalk-jsapi/2.6.0/dingtalk.open.js"></script>-->
    <script src='js/zepto.min.js' charset='utf-8'></script>
    <script src="js/zepto.cookie.min.js"></script>
    <script src="js/weui.min.js"></script>
    <script src="js/config.js"></script>
    <style>
        .tabbar_item{
            padding: 4px
        }
    </style>
</head>
<body style="background-color: #f6f6f6">
<div id="zcpdDetail">
    <div style="height: 5px"></div>
    <div v-for="item in zcpddtl" class="weui-form-preview" style="margin-bottom: 5px">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">卡片编号</label>
                <em class="weui-form-preview__value">{{item.ZiChanKP}}</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">资产名称</label>
                <span class="weui-form-preview__value">{{item.ZiChanMC}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">规格型号</label>
                <span class="weui-form-preview__value">{{item.GuiGeXH}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">管理部门</label>
                <span class="weui-form-preview__value"></span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">帐存数量</label>
                <span class="weui-form-preview__value">{{item.ShuLiang}}</span>
            </div>
        </div>
        <div class="weui-form-preview__ft">
            <div class="weui-form-preview__btn weui-form-preview__btn_primary">实存数量</div>
            <button type="button" @click="sub(item)" class="weui-form-preview__btn weui-form-preview__btn_primary">-</button>
            <input type="number" placeholder="0" class="weui-form-preview__btn weui-form-preview__btn_default" v-model="item.ShiCunSL" />
            <button type="button" @click="add(item)" class="weui-form-preview__btn weui-form-preview__btn_primary">+</button>
        </div>
    </div>
    <div style="height: 54px"></div>
    <div class="weui-tabbar" style="position: fixed;">
        <div class="weui-tabbar__item tabbar_item">
            <a class="weui-btn weui-btn_block btn_dingtalk" @click="tempSave">暂存</a>
        </div>
        <div class="weui-tabbar__item tabbar_item">
            <a class="weui-btn weui-btn_block btn_dingtalk" @click="scanQrCode">扫码</a>
        </div>
        <div class="weui-tabbar__item tabbar_item">
            <a class="weui-btn weui-btn_block btn_dingtalk" @click="complete">盘点完成</a>
        </div>
    </div>
</div>
<script src="js/vue.js"></script>
<script src="js/zcpdDetail.js"></script>
</body>
</html>
