<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>资产盘点列表</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/weui.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.0.0">
    <!--<script type="text/javascript" src="//g.alicdn.com/dingding/dingtalk-jsapi/2.6.0/dingtalk.open.js"></script>-->
    <script src="https://g.alicdn.com/gdt/jsapi/1.3.5/index.js"></script>
    <script src="https://g.alicdn.com/gdt/jsapi-adapter-dingtalk-pc/1.2.5/index.js"></script>
    <script src='js/zepto.min.js' charset='utf-8'></script>
    <script src="js/zepto.cookie.min.js"></script>
    <script src="js/weui.min.js"></script>
    <script src="js/config.js"></script>
    <style>
        p {
            line-height: 1.5em;
        }
    </style>
</head>
<body>
<div id="zcpdList">
    <article class="weui-article">
        <h2>资产盘点任务</h2>
    </article>
    <ul v-if="zcpdrw && zcpdrw.length > 0">
        <li v-for="item in zcpdrw" class="weui-flex weui-row-li row">
            <div class="weui-cell__bd weui-zc-left">
                <p>{{item.PanDianMC}}</p>
                <p>经办人：{{item.JingBanR}}</p>
                <p>盘点时间：{{item.startTime|formatDate}}</p>
            </div>
            <div class="weui-zc-right">
                <a href="javascript:void(0);" @click="gotoDetail(item.BianHao)" class="weui-btn weui-zcbtn weui-btn_block btn_dingtalk" style="height: 100%;line-height: 3.5">{{item.status == 1? "待盘点" : "继续盘点"}}</a>
            </div>
        </li>
    </ul>
    <div class="empty"></div>
</div>
<script src="js/vue.js"></script>
<script src="js/zcpdList.js"></script>
</body>
</html>
