<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>指标查询</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/weui.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.0.0">
    <!--<script type="text/javascript" src="//g.alicdn.com/dingding/dingtalk-jsapi/2.6.0/dingtalk.open.js"></script>-->
    <script src='js/zepto.min.js' charset='utf-8'></script>
    <script src="js/zepto.cookie.min.js"></script>
    <script src="js/weui.min.js"></script>
    <script src="js/config.js"></script>


</head>
<body>
<div style="background: #efefef">
    <ul class="weui-zc-ul">
        <li>
            <div class="weui-cells weui-cells-noborder">
                <div class="weui-cell weui-row">
                    <div class="weui-cell__bd weui-zc-left">
                        <p>盘点内容</p>
                        <p>盘点内容</p>
                        <p>盘点内容</p>
                        <p>盘点内容</p>
                        <p>盘点内容</p>
                    </div>
                    <div class="weui-zc-right">
                        <span style="vertical-align:middle; font-size: 17px;">开始盘点</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<script type="text/x-template" id="sea-dialog">
    <div class="item">
        <div :id="id" class="seaDialog">
            <div class="seachBg">
                <div class="searchInput" v-show="config.showsearch===true ? true : false">
                    <input @keyup.delete="searchAll" @keyup.enter="searchZbmc" :placeholder="'请输入' + title"/>
                </div>
            </div>
            <ul class="seaLists">
                <li v-for="item in config.options" class="row">
                    <div class="col-100">
                        <p v-for="field in config.fields">{{field.name}}：{{item[field.key]}}{{field.key=='ZhiXingLV'?'%':''}}</p>
                    </div>
                </li>
            </ul>
            <div class="empty" style="display: none"></div>
        </div>
    </div>
</script>
<script src="js/vue.js"></script>
<script src="js/zcpdLists.js"></script>
</body>
</html>
