<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/weui.min.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        [v-cloak] {
            display: none !important;
        }

        .weui-panel__hd {
            font-size: 15px;
            color: #3296fa;
        }

        .weui-media-box {
            padding: 0 15px;
        }

        .weui-media-box__desc {
            font-size: 14px;
            margin: 8px 0;
        }
        .weui-media-box__title {
            font-size: 16px;
        }
        .weui-media-box__info {
            margin-top: 10px !important;
            padding-bottom: 10px !important;
        }
        .list-block li {
            line-height: 2em;
            padding-left: 15px;
            box-sizing: border-box;
            position: relative;
        }
    </style>
    <script type="text/javascript" src="//g.alicdn.com/dingding/dingtalk-jsapi/2.6.0/dingtalk.open.js"></script>
    <script src="js/zepto.min.js"></script>
    <script src="js/zepto.cookie.min.js"></script>
    <script src="js/config.js"></script>
</head>
<body>
<div class="weui-tab" id="tab" v-cloak>
    <div class="weui-navbar">
        <div class="weui-navbar__item">申请信息</div>
        <div class="weui-navbar__item">流程</div>
        <div class="weui-navbar__item">审批</div>
    </div>
    <div class="weui-tab__panel">
        <div class="weui-tab__content">
            <!--申请信息页-->
            <div class="weui-panel weui-panel_access" v-if="formData.DanJuXX">
                <div class="weui-panel__hd">基本信息</div>
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text">
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <p class="weui-media-box__desc">单位名称</p>
                                <h4 class="weui-media-box__title">{{formData.DanJuXX.DanWeiMC}}</h4>
                            </div>
                            <div class="weui-flex__item">
                                <p class="weui-media-box__desc">部门名称</p>
                                <h4 class="weui-media-box__title">{{formData.DanJuXX.BuMenMC}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <p class="weui-media-box__desc">借款人</p>
                                <h4 class="weui-media-box__title">{{formData.DanJuXX.JieKuanR}}</h4>
                            </div>
                            <div class="weui-flex__item">
                                <p class="weui-media-box__desc">申请日期</p>
                                <h4 class="weui-media-box__title">{{formData.DanJuXX.ShenQingRQ}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <p class="weui-media-box__desc">指标名称</p>
                                <h4 class="weui-media-box__title">{{formData.DanJuXX.ZhiBiaoMC}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <p class="weui-media-box__desc">合同名称</p>
                                <h4 class="weui-media-box__title">{{formData.DanJuXX.HeTongMC}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <p class="weui-media-box__desc">可用余额</p>
                                <h4 class="weui-media-box__title">{{formData.DanJuXX.KeYongYE}}</h4>
                            </div>
                            <div class="weui-flex__item">
                                <p class="weui-media-box__desc">经办人</p>
                                <h4 class="weui-media-box__title">{{formData.DanJuXX.JingBanR}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <p class="weui-media-box__desc">借款金额</p>
                                <h4 class="weui-media-box__title">{{formData.DanJuXX.JieKuanJE}}</h4>
                            </div>
                            <div class="weui-flex__item">
                                <p class="weui-media-box__desc">支出事项</p>
                                <h4 class="weui-media-box__title">{{formData.DanJuXX.ZhiChuSX}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="weui-media-box weui-media-box_text" v-if="formData.DanJuXX.DanJuFJ && formData.DanJuXX.DanJuFJ.length > 0">
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <p class="weui-media-box__desc">申请附件</p>
                                <div class="list-block">
                                    <ul>
                                        <li v-for="item in formData.DanJuXX.DanJuFJ">
                                            <div class="item-content">
                                                <div class="item-media"><i class="icon icon-form-email"></i></div>
                                                <div class="item-inner">
                                                    <a :href="item.FuJianLJ" download>{{item.FuJianMC}}</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-panel weui-panel_access" v-if="formData.ZhiChuMX && formData.ZhiChuMX.length > 0">
                <div class="weui-panel__hd">支出明细</div>
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text">
                        <template v-for="item in formData.ZhiChuMX">
                            <div class="weui-flex">
                                <div class="weui-flex__item">
                                    <p class="weui-media-box__desc">{{item.MingXiMC}}</p>
                                    <h4 class="weui-media-box__title">{{item.MingXiJE}}</h4>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            <div class="weui-panel weui-panel_access" v-if="formData.FuZhuXX && formData.FuZhuXX.length > 0">
                <div class="weui-panel__hd">辅助信息</div>
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text">
                        <template v-for="item in formData.FuZhuXX">
                            <div class="weui-flex">
                                <div class="weui-flex__item">
                                    <p class="weui-media-box__desc">{{item.FuZhuXMC}}</p>
                                    <h4 class="weui-media-box__title">{{item.FuZhuXZ}}</h4>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            <div class="weui-panel weui-panel_access" v-if="formData.JieSuanXX && formData.JieSuanXX.length > 0">
                <div class="weui-panel__hd">结算信息</div>
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text">
                        <template v-for="item in formData.JieSuanXX">
                            <div class="weui-flex">
                                <div class="weui-flex__item">
                                    <p class="weui-media-box__desc">结算方式</p>
                                    <h4 class="weui-media-box__title">{{item.JieSuanFS}}</h4>
                                </div>
                                <div class="weui-flex__item">
                                    <p class="weui-media-box__desc">结算金额</p>
                                    <h4 class="weui-media-box__title">{{item.JieSuanJE}}</h4>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            <div class="weui-panel weui-panel_access" v-if="formData.ShenPiXX && formData.ShenPiXX.length > 0">
                <div class="weui-panel__hd">审批信息</div>
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text" v-for="item in formData.ShenPiXX">
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <p class="weui-media-box__desc">审批环节：{{item.ShenPiHJ}}</p>
                                <h4 class="weui-media-box__title">{{item.ShenPiYJ}}</h4>
                            </div>
                        </div>
                        <div class="weui-flex" v-if="item.ShenPiYS && item.ShenPiYS.length > 0">
                            <div class="weui-flex__item">
                                <p class="weui-media-box__desc">审批要素</p>
                                <h4 v-for="obj in item.ShenPiYS" class="weui-media-box__title">{{obj.YaoSuMC}}： {{obj.YaoSuZ}}</h4>
                            </div>
                        </div>
                        <div class="weui-flex" v-if="item.ShenPiFJ && item.ShenPiFJ.length > 0">
                            <div class="weui-flex__item">
                                <p class="weui-media-box__desc">附件</p>
                                <div class="list-block">
                                    <ul>
                                        <li v-for="file in item.ShenPiFJ">
                                            <a :href="file.FuJianLJ" download>{{file.FuJianMC}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <ul class="weui-media-box__info">
                            <li class="weui-media-box__info__meta">{{item.ShenPiR}}</li>
                            <li class="weui-media-box__info__meta">{{item.ShenPiSJ}}</li>
                            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">{{item.ChuLiSC}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="padding: 15px">
                <a href="javascript:;" class="weui-btn weui-btn_block weui-btn_ding" @click="gotoTab(2)">去审批</a>
            </div>
        </div>
        <div class="weui-tab__content">
            <!--流程图-->
            <div class="content-block" v-if="formData.DanJuXX">
                <p class="img"><img :src="formData.DanJuXX.LiuChengTuLJ"/></p>
            </div>
        </div>
        <div class="weui-tab__content">
            <!--审批页-->
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd">审批意见</div>
                <div class="weui-panel__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <textarea v-model.trim="submitData.ShenPiYJ" class="weui-textarea" placeholder="请输入审批意见" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <shenpi-yaosu id="ShenPiYS" title="审批要素" v-if="formData.YaoSuXX && formData.YaoSuXX.length > 0" :yaosuxx="formData.YaoSuXX" v-model="submitData.ShenPiYS"></shenpi-yaosu>
            <weui-uploader id="ShenPiFJ" title="上传附件" :options="uploaderOptions" :files="submitData.FileList"></weui-uploader>
            <div class="weui-flex" style="padding: 7px">
                <div class="weui-flex__item" style="padding: 7px">
                    <a class="weui-btn weui-btn_warn" @click="submitForm('back')" href="javascript:">驳回</a>
                </div>
                <div class="weui-flex__item" style="padding: 7px">
                    <a class="weui-btn weui-btn_ding" @click="submitForm('pass')" href="javascript:">批准</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="js/testData.js"></script>-->
<script src="js/weui.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/components/shenpi-yaosu.js"></script>
<script src="js/components/vue.weui.uploader.js"></script>
<script src="js/zjApplyInformation.js"></script>
</body>
</html>